---
layout: default
title: Codes
---
<style>
h1{
  padding-bottom:20px;
  border-bottom:1px solid #eee;
}
</style>

      <h1>Silly to serious projects by me</h1>




      {% for post in site.posts %}
        {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if currentyear != year %}
           <h4 class="year">{{ currentyear }}</h2>
          {% capture year %}{{currentyear}}{% endcapture %}
        {% endif %}

        {% if post.category == 'Code' %}
        <ul class="posts-in-year list-unstyled">
          <li class="post-title post-title-multi"><p>

              {% include single-code.html %}
          </p>
          </li>
        </ul>
          {% endif%}
      {% endfor %}
