---
layout: default
title: Home
---
<style>
h1{
  padding-bottom:20px;
  border-bottom:1px solid #eee;
}
</style>

      <h1>My project, codes and research activities</h1>





      {% for post in site.posts %}
        {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if currentyear != year %}
           <h4 class="year">{{ currentyear }}</h2>
          {% capture year %}{{currentyear}}{% endcapture %}
        {% endif %}
        <ul class="posts-in-year list-unstyled">
          <li class="post-title post-title-multi"><p>
            <span class="primary">{{post.category}}</span>
            {% if post.category == 'Blog' %}
              <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
              <a href="{{ post.url}}">{{ post.title }}</a> <span class="post-date">| {{ post.date | date: "%B %d" }}</span>
            {% elsif post.category == 'Code' %}
              <i class="fa fa-github" aria-hidden="true"></i>
              <a href="{{ post.website}}" target="_blank" class="text-underline">{{ post.title }}</a> &mdash;
              <span class="color-999">{{post.tagline}}</span>
              <span class="post-date">| {{ post.date | date: "%B %d" }}</span>
              <span class="post-content-small">
                {{post.content}}
              </span>

            {% elsif post.category == 'Talk' %}
                <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                <a href="{{ post.website}}">{{ post.title }}</a> <span class="post-date">| {{ post.date | date: "%B %d" }}</span>

            {% else %}
            <a href="{{ post.url}}">{{ post.title }}    </a>
            {% endif%}

          </p>
          </li>
        </ul>
      {% endfor %}
