<h1 class="homepage-name">I'm Ravi Raja Merugu</h1>
<h2 class="homepage-title">{{ site.tagline }}</h2>
<p class="homepage-description">{{site.description}}</p>
<nav class="homepage-nav">
        <a class="sidebar-nav-item" href="/">Home</a>
        <a class="sidebar-nav-item" href="/posts/">Blogs</a>
        <a class="sidebar-nav-item" href="/codes/">Codes</a>
        <a class="sidebar-nav-item" href="/talks/">Talks</a>
        <a class="sidebar-nav-item" href="/research/">Research</a>
        <a class="sidebar-nav-item" href="/snippets/">Snippets</a>
        <a class="sidebar-nav-item" href="/about/">About</a>

 </nav>
<hr class="homepage-hr">
