<ul class="list-inline pull-right social-nav-links" id="sidebar-buttons">
  <li>
      <a href="/" class="btn-social btn-outline" title="Home">
          <i class="fa fa-home"></i> Home
      </a>
  </li>
    <li>
        <a href="mailto:{{ site.author.email }}" class="btn-social btn-outline" title="E-Mail me">
            <i class="fa fa-fw fa-at"></i> Email
        </a>
    </li>
    <li>
        <a href="{{ site.author.github }}" target="_blank" class="btn-social btn-outline" title="Ravi Raja on GitHub">
            <i class="fa fa-fw fa-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="{{ site.author.linkedin}}" target="_blank" class="btn-social btn-outline" title="Ravi Raja on LinkedIn">
            <i class="fa fa-fw fa-linkedin"></i> LinkedIn
        </a>
    </li>
</ul>
<div class="clearfix"></div>
<div class="banner">
    <div class="sidebar-about">
        <!-- <p style="margin-left:30px">
            <i class="fa fa-circle-o faa-burst animated magic-icon"></i></p> -->
        <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
        <p class="lead">{{ site.tagline }}</p>
    </div>

    <!-- <nav class="">

            <a class="sidebar-nav-item" href="/projects/">Projects</a>
            <a class="sidebar-nav-item" href="/research/">Research</a>
            <a class="sidebar-nav-item" href="/about/">About</a> -->
    <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    <!-- </nav> -->


<hr>
</div>
